@import 'base/variables';
@font-face {
    font-family: 'Museo Sans 900 Black';
    src: url('MuseoSansCyrl-900.eot');
    src: url('MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-900.woff') format('woff'),
    url('MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }